<template>
    <v-container>
        <v-layout row wrap>
          <v-flex xs12 md3>
            <div class="text-xs-center">
              <v-avatar size="125px">
                <img
                  class="img-circle elevation-7 mb-1"
                  src="https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/lists/1.jpg"
                >
              </v-avatar>
              <div class="headline">John <span style="font-weight:bold">Carter</span></div>
              <div class="subheading text-xs-center grey--text pt-1 pb-3">Lorem ipsum dolor sit amet</div>
              <v-layout justify-space-between>
                <a href="javascript:;" class="body-2">About</a>
                <a href="javascript:;" class="body-2">Github</a>
                <a href="javascript:;" class="body-2">Other</a>
              </v-layout>
            </div>
          </v-flex>
          <v-flex xs12 md8 offset-md1>
            <div v-for="(value, key) in posts" :key="key">
              <v-card class="my-3" hover>
                <v-img v-if="value.image !== null"
                  class="white--text"
                  height="170px"
                  :src="value.image"
                >
                  <v-container fill-height fluid>
                    <v-layout>
                      <v-flex xs12 align-end d-flex>
                        <span class="headline">{{ value.title }}</span>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-img>
                <v-card-text>
                  <div v-html="value.text"></div>
                </v-card-text>
                <v-card-actions>
                  <v-btn icon class="blue--text text--darken-4">
                    <v-icon v-if="!checkIfLike(value.id)" @click="likePost(value.id)">favorite_border</v-icon>
                    <v-icon v-else @click="unlikePost(value.id)">favorite</v-icon>
                  </v-btn>
                  {{ value.like_count }}
                  <v-spacer></v-spacer>
                  <v-btn flat class="blue--text">Read More</v-btn>
                </v-card-actions>
              </v-card>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
</template>

<script>
  import { postsApi } from "../api/posts";

  export default {
    name: "BlogList",
    data() {
      return {
        posts: [],
        likes: [],
        removeIndex: '',
      }
    },
    beforeMount() {
      this.loadData()
    },
    methods: {
      loadData() {
        postsApi.postsList().then(response => {
        if (response.data) {
          this.posts = response.data
        }
        if (response.detail) {
          this.$router.push('login/')
        }
        });
        postsApi.likeList().then(response => {
          this.likes = response.data
        })
      },
      checkIfLike( id ) {
        if (this.likes) {
          let userId = localStorage.getItem('user');
          for (let item in this.likes) {
            if (this.likes[item].user.toString() === userId && this.likes[item].post === id) {
              return true
            }
          }
        }
        return false
      },
      likePost( id ) {
        let form = new FormData();
        let userId = localStorage.getItem('user');
        form.append('user', userId);
        form.append('post', id);
        postsApi.likeAdd(form).then(() => {
          this.loadData()
        });

      },
      unlikePost( id ) {
        let userId = localStorage.getItem('user');
        for (let item in this.likes) {
          if (this.likes[item].user.toString() === userId && this.likes[item].post === id) {
            postsApi.likeRemove(this.likes[item].id).then(() => {
              this.loadData()
            })
          }
        }

      },
    },
  }
</script>

<style scoped>

</style>
