<template>
    <v-container fluid fill-height class="loginOverlay">
          <v-layout flex align-center justify-center>
            <v-flex xs12 sm4 elevation-6>
              <v-toolbar class="pt-5 blue darken-4">
                <v-toolbar-title class="white--text"><h4>Create a new post</h4></v-toolbar-title>
                </v-toolbar-items>
              </v-toolbar>
              <v-card>
                <v-card-text class="pt-4">
                  <div>
                      <v-form v-model="valid" ref="form">
                        <v-text-field
                          label="Enter title"
                          v-model="title"
                          :rules="titleRules"
                          :error-messages="titleError"
                          required
                        ></v-text-field>
                        <v-textarea
                          outline
                          name="description"
                          label="Post text"
                          v-model="description"
                          :rules="descriptionRules"
                          :error-messages="descriptionError"
                        ></v-textarea>
                        <v-img v-if="imageUrl"
                          height="170px"
                          :src="imageUrl"
                        ></v-img>
                          <input type="file" ref="imagePath" multiple id="photo" accept=".jpg,.png" v-on:change="imageChange">
                        <v-layout justify-center>
                            <v-btn @click="submit" :class=" { 'blue darken-4 white--text' : valid, disabled: !valid }">Post</v-btn>
                        </v-layout>
                      </v-form>
                  </div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
       </v-container>
</template>

<script>
  import { postsApi } from "../api/posts";

  export default {
    name: 'NewPostComponent',
    data() {
      return {
        valid: false,
        e1: false,
        title: '',
        titleRules: [
          (v) => !!v || 'Title is required',
        ],
        titleError: '',
        description: '',
        descriptionRules: [
          (v) => !!v || 'Description is required',
        ],
        descriptionError: '',
        imageUrl: undefined,
      }
    },
    methods: {
      submit() {
        if (this.$refs.form.validate()) {
          let form = new FormData();
          form.append('title', this.title);
          form.append('text', this.description);
          form.append('image', this.$refs.imagePath.files[0]);
          form.append('user', localStorage.getItem('user'));
          form.append('active', true);
          postsApi.postCreate(form).then(response => {
            this.$router.push('/')
          })
        }
      },
      clear() {
        this.$refs.form.reset()
      },
      imageChange: function () {
        let file = this.$refs.imagePath.files[0];
        if (file) {
          this.imageUrl = URL.createObjectURL(file)
        }
      },
    },
  }
</script>

<style scoped>

</style>
