<template>
    <v-container fluid fill-height class="loginOverlay">
          <v-layout flex align-center justify-center>
            <v-flex xs12 sm4 elevation-6>
              <v-toolbar class="pt-5 blue darken-4">
                <v-toolbar-title class="white--text"><h4>Login</h4></v-toolbar-title>
              </v-toolbar>
              <v-card>
                <v-card-text class="pt-4">
                  <div>
                      <v-form v-model="valid" ref="form">
                        <v-alert
                          value="true"
                          type="error"
                          v-if="showAlert"
                        >
                          Unable to log in with provided credentials.
                        </v-alert>
                        <v-text-field
                          label="Enter your username"
                          v-model="username"
                          :rules="usernameRules"
                          required
                        ></v-text-field>
                        <v-text-field
                          label="Enter your password"
                          v-model="password"
                          min="8"
                          :append-icon="e1 ? 'visibility' : 'visibility_off'"
                          @click:append="() => (e1 = !e1)"
                          :type="e1 ? 'password' : 'text'"
                          :rules="passwordRules"
                          counter
                          required
                        ></v-text-field>
                        <v-layout justify-space-between>
                            <v-btn @click="submit" :class=" { 'blue darken-4 white--text' : valid, disabled: !valid }">Login</v-btn>
                        </v-layout>
                      </v-form>
                  </div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
       </v-container>
</template>

<script>
  import { authApi } from "../api/auth";

  export default {
    name: "UserLogin",
    data() {
      return {
        valid: false,
        e1: false,
        password: '',
        passwordRules: [
          (v) => !!v || 'Password is required',
        ],
        username: '',
        usernameRules: [
          (v) => !!v || 'Username is required',
        ],
        showAlert: false,
      }
    },
    methods: {
      submit() {
        if (this.$refs.form.validate()) {
          this.showAlert = false;
          let form = new FormData();
          form.append('username', this.username);
          form.append('password', this.password);
          authApi.loginUser(form).then(response => {
            console.log(response);
            if (response.data) {
              localStorage.setItem('t', response.data.token);
              localStorage.setItem('orig_iat', response.data.orig_iat);
              localStorage.setItem('user', response.data.user.pk);
              this.$router.push('/')
            }
            if (response.non_field_errors) {
              this.showAlert = true
            }
          })
        }
      },
      clear() {
        this.$refs.form.reset()
      },
    },
  }
</script>

<style scoped>

</style>
