<template>
    <v-container fluid fill-height class="loginOverlay">
          <v-layout flex align-center justify-center>
            <v-flex xs12 sm4 elevation-6>
              <v-toolbar class="pt-5 blue darken-4">
                <v-toolbar-title class="white--text"><h4>Registration</h4></v-toolbar-title>
                </v-toolbar-items>
              </v-toolbar>
              <v-card>
                <v-card-text class="pt-4">
                  <div>
                      <v-form v-model="valid" ref="form">
                        <v-text-field
                          label="Enter your username"
                          v-model="username"
                          :rules="usernameRules"
                          :error-messages="usernameError"
                          required
                        ></v-text-field>
                        <v-text-field
                          label="Enter your e-mail address"
                          v-model="email"
                          :rules="emailRules"
                          :error-messages="emailError"
                          required
                        ></v-text-field>
                        <v-text-field
                          label="Enter your password"
                          v-model="password"
                          min="8"
                          :append-icon="e1 ? 'visibility' : 'visibility_off'"
                          @click:append="() => (e1 = !e1)"
                          :type="e1 ? 'password' : 'text'"
                          :rules="passwordRules"
                          :error-messages="passwordError"
                          counter
                          required
                        ></v-text-field>
                        <v-layout justify-space-between>
                            <v-btn @click="submit" :class=" { 'blue darken-4 white--text' : valid, disabled: !valid }">Sign UP</v-btn>
                        </v-layout>
                      </v-form>
                  </div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
       </v-container>
</template>

<script>
  import { authApi } from "../api/auth";

  export default {
    name: 'UserLogin',
    data() {
      return {
        valid: false,
        e1: false,
        password: '',
        passwordRules: [
          (v) => !!v || 'Password is required',
        ],
        email: '',
        emailRules: [
          (v) => !!v || 'E-mail is required',
          (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
        ],
        username: '',
        usernameRules: [
          (v) => !!v || 'Username is required',
        ],
        emailError: '',
        passwordError: '',
        usernameError: '',
      }
    },
    methods: {
      submit() {
        if (this.$refs.form.validate()) {
          this.emailError = '';
          this.passwordError = '';
          this.usernameError = '';
          let form = new FormData();
          form.append('username', this.username);
          form.append('email', this.email);
          form.append('password1', this.password);
          form.append('password2', this.password);
          authApi.signupUser(form).then(response => {
            if (response.email) {
              this.emailError = response.email
            }
            if (response.password1) {
              this.passwordError = response.password1
            }
            if (response.username) {
              this.usernameError = response.username
            }
            if (response.data) {
              localStorage.setItem('t', response.data.token);
              this.$router.push('/')
            }
          })
        }
      },
      clear() {
        this.$refs.form.reset()
      },
    },
  }
</script>

<style scoped>

</style>
