<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>STARNAVI</span>
        <span class="font-weight-light"> DEMO</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        flat
        to="/"
      >
        <span class="mr-2">Blog</span>
      </v-btn>
      <v-btn
        flat
        to="/new-post"
      >
        <span class="mr-2">Make a post</span>
      </v-btn>
      <v-btn
        flat
        to="/login"
      >
        <span class="mr-2">Login</span>
      </v-btn>
      <v-btn
        flat
        to="/registration"
      >
        <span class="mr-2">Sign UP</span>
      </v-btn>
    </v-toolbar>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data() {
    return {
      //
    }
  },
}
</script>
