<template>
  <NewPostComponent />
</template>

<script>
  import NewPostComponent from '@/components/NewPostComponent';

  export default {
    components: {
      NewPostComponent,
    },
  }
</script>
