<template>
  <UserRegistration />
</template>

<script>
  import UserRegistration from '@/components/UserRegistration.vue'

  export default {
    components: {
      UserRegistration,
    },
  }
</script>
